/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
}
.tippy-box[data-theme~=light] {
  font-size: 0.875rem;
  color: rgb(148 163 184);
}
.dark .tippy-box[data-theme~=light] {
  color: #404040;
}
.dark .tippy-box[data-theme~=light]>.tippy-svg-arrow {
  fill: #404040;
}
.dark .tippy-box[data-theme~=light]>.tippy-backdrop {
  background-color: #404040;
}
.dark .tippy-box[data-theme~=light] {
  background: #404040;
  color: rgb(203 213 225);
}