/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
}

.dark .tippy-box[data-theme~=light] {
  color: #404040;
}
.dark .tippy-box[data-theme~=light]>.tippy-svg-arrow {
  fill: #404040;
}
/* body {
  background-image: url(./assets/bg-01.avif);
  background-size: 100% auto;
  background-repeat: no-repeat;
} */